<html>
    <head>
        <style>

        </style>
        <body>
        <p>You have booked a table in Chrupka app.</p>
        <p>Date: {{date}}</p>
        <p>Time: {{time}}</p>
        <p>The table is for {{quantity}} people at the restaurant {{restaurant}}.</p>
        <p>Your PIN is: {{PIN}}</p>
        <p>Enjoy !</p>
        </body>
    </head>
</html>