<html>
    <head>
        <style>

        </style>
        <body>
        {{restaurantName}} have cancelled your table booking in Chrupka app.
        Date: {{date}}
        Time: {{time}}
        The table was for {{quantity}} people.
        Your PIN was {{PIN}}
        <b>Message from restaurant:</b> <div>{{message}}</div>
        Hope to see you again!
        </body>
    </head>
</html>