<html>
    <head>
        <style>

        </style>
        <body>
        <p>Hello!</p>
        <p>{{restaurantName}} have cancelled your table booking in Chrupka app.</p>
        <p>Date: {{date}}</p>
        <p>Time: {{time}}</p>
        <p>The table was for {{quantity}} people.</p>
        <p>Your PIN was {{PIN}}</p>
        <p><b>Message from restaurant:</b></p> 
        <div>{{message}}</div>
        <p>Hope to see you again!</p>
        </body>
    </head>
</html>